*, *::before, *::after { margin: 0px; padding: 0px; box-sizing: border-box;list-style: none;text-decoration: none;outline: none;}
:root{
    --c-black: rgb(28, 35, 43);
    --c-grey: rgb(108, 114, 137);
    --c-cream: rgb(242, 234, 226);
    --c-white: rgb(255, 255, 255);
    --c-green-500: rgb(61, 129, 104);
    --c-green-700: rgb(26, 64, 50);

}
/* first we start with design of mobile version */
body{min-height: 100vh; background-color: var(--c-cream);display: flex;}
body main {max-width: 350px;margin: auto;border-radius: 8px;background-color: var(--c-white);overflow: hidden;}
body main .card-component{ display: flex;justify-content: space-between;align-items: center;flex-direction: column;}
body main .card-component .img-card{width: 100%;height: 342px;}
body main .card-component .img-card img{width: 100%;height: 100%;object-fit: fill;}
body main .card-component .card-content .card-description{padding: 32px;}
    
